.contacts__item {
  margin-bottom: 10px;
}
button {
  margin-left: 15px;
  border-radius: 8%;
  background-color: #fff;
  padding: 0px 5px;
  padding-top: 1px;
  border: 0.5px solid rgb(180, 177, 177);
  cursor: pointer;
}
