form {
  width: 300px;
  padding: 15px 15px;
  border: 1px solid black;
}
input {
  border-radius: 3%;
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
}
input:focus {
  outline: 3px solid rgb(116, 180, 235, 0.8);
}
button {
  border-radius: 8%;
  background-color: #fff;
  padding: 3px 15px;
  cursor: pointer;
}
